/* main模块 */
.main {
    height: 456px;
    width: 980px;
    margin-left: 220px;
    margin-top: 10px;
}
/* main模块---焦点模块 */
.focus {
    height: 100%;
    float: left;
}
/* main模块---快报模块 */
.newsflash {
    height: 100%;
    float: right;
    width: 250px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.bargain {
    margin-top: 6px;
}
.news-hd {
    height: 34px;
    line-height: 34px;
    text-align: left;
    padding-left: 15px;
    border-bottom: 1px dashed #e4e4e4;
    color:#333333;
}
.news-bd {
    height: 130px;
    padding-top: 6px;
    border-bottom: 1px solid #e4e4e4;
}
.news-hd-r {
    float: right;
    margin-right: 16px;
}
.news-hd-r::after {
    content: '\e748';
    font-family: 'iconfont';
}
.news-bd ul li {
    text-align: left;
    padding-left: 16px;
    color: #666666;
    /* 超出部分用省略号代替的三个步骤
    1.overflow: hidden;//超出部分隐藏
    2.white-space: nowrap;//不许超出部分换行
    3.text-overflow: ellipsis; //超出部分用省略号代替*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news-bd ul li a:hover span {
    color: #cb1623;
}
.news-bd ul li span {
    font-weight: bold;
    color: #5f5f5f;
}
.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0px;
    overflow: hidden;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    /* position: relative;浮动和定位可以兼容 */
    text-align: center;
    width: 63px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;;
}
.lifeservice ul li i {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-image: url(../images/icons.png);
}
.lifeservice ul li p {
    color: #666666;
}
.minus {
    position: absolute;
    width: 12px;
    height: 15px;
    line-height: 12px;
    background-color: green;
    top: -10px;
    right: -16px;
    color: white;
    font-style: normal;
}
.triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 1px;
    right: -16px;
    border-top: 2px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 2px solid white;
    border-left: 6px solid transparent;
}
/* 推荐模块 */
.recom {
    height: 163px;
}
.recom-hd {
    float: left;
}
.recom-bd {
    float: left;
}
.recom-bd ul li {
    float: left;
    position: relative;
    width: 248px;
    height: 163px;
}
.recom-bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0px;
    width: 1px;
    height: 146px;
    background-color: #ddd;
}
/* 猜你喜欢模块 */
.guess-hd {
    margin-top: 30px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    text-align: left;
}
.guess-hd a {
    float: right;
    margin-right: 20px;
    font-size: 12px;
}
.guess-bd {
    height: 230px;
}
.guess-bd ul li {
    height: 230px;
    float: left;
    width: 160px;
    margin-left: 20px;
    margin-right: 20px;
}
.guess-bd ul li>a{
    display: inline-block;
    width: 160px;
    height: 141px;
}
.guess-bd ul li p {
    text-align: left;
    padding-left: 20px;
    color: #cb1623;
    font-size: 18px;
}
.guess-bd ul li div {
    padding-left: 20px;
    text-align: left;
}
/* 有趣区模块 */
.interesting-hd {
    height: 18px;
    float: left;
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    text-align: left;
}
.interesting-bd-01 {
    margin-top: 10px;
    height: 405px;
    float: left;
}
.interesting-bd-02 {
    height: 405px;
    margin-top: 10px;
    margin-left: 6px;
    float: left;
}
.interesting-bd-02 ul li {
    float: left;
}
.interesting-bd img {
    vertical-align: bottom;
}
.interesting-bd-02 a {
    display:inline-block;
    width: 624px;
    margin-top: 13px;
    height: 392px;
    background: url(../images/本周特卖大牌折扣每周上新.png);
}
.interesting-bd-03 {
    margin-top: 10px;
    width: 164px;
    float: right;
    height: 405px;
}
/* 楼层区域制作 */
/* 家电模块 */
.floor {
    margin-top: 30px;
}
.box-hd {
    height: 30px;
    overflow: hidden;
    padding-right: 10px;
    font-size: 18px;
    text-align: left;
    color: #cb1623;
    border-bottom: 2px solid #cb1623;
}
.box-hd span {
    float: left;
    line-height: 1;
}
.box-hd .tab-list {
    float: right;
}
.box-hd .tab-list ul li {
    float: left;
    font-size: 12px;
}
.box-hd .tab-list ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin: 6px 16px 0px;
    background-color: #999999;
}
.box-bd1 {
    height: 361px;
}
.tab-list-item>div {
    float: left;
    height: 361px;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
}
.col_329 {
    position: relative;
    width: 329px;
    background-color: #f9f9f9
}
.col_221 {
    width: 221px;
    background-color: #f9f9f9;
}
.col_219 {
    width: 219px;
    background-color: #f9f9f9;
}
.col_210 ul li {
    float: left;
    border-bottom: 1px solid #999999;
    margin-left: 12px;
    width: 85px;
    height: 34px;
    line-height: 34px;
}
.col_210_bd {
    float: left;
    width: 100%;
    height: 259px;
}
.jiadian .col_210_bd a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/三星曲面电视抽奖送豪礼.png) no-repeat center center;
}
.jiadian .col_329>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/图层118拷贝.png) no-repeat center center;
}
.col_329 ul {
    position: absolute;
    bottom: 16px;
    left: 142px;
}
.col_329 ul li{
    float: left;
    margin-right: 7px;
}
.col_329 ul li a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3e3e3e;
}
.col_329 ul li a:hover {
    background-color: white;
}
.col_221_lhd {
    height: 50%;
}
.col_221_lbd {
    height: 50%;
}
.jiadian .col_221_lhd a{
    display: inline-block;
    width: 100%;
    height: 180.5px;
    background: url(../images/images/没满200.png) no-repeat center center;
}
.jiadian .col_221_lbd a{
    display: inline-block;
    width: 100%;
    height: 180.5px;
    background: url(../images/images/送60个月会员.png) no-repeat center center;
}
.jiadian .col_221>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/images/彩电_06.png) no-repeat center center;
}
.col_219_hd{
    height: 50%;
}
.col_219_bd{
    height: 50%;
}
.jiadian .col_219_hd a{
    display: inline-block;
    width: 100%;
    height: 180.5px;
    background: url(../images/images/新的_03.png) no-repeat center center;
}
.jiadian .col_219_bd a{
    display: inline-block;
    width: 100%;
    height: 180.5px;
    background: url(../images/images/新的_06.png) no-repeat center center;
}
.brand_1 {
    margin-top: 30px;
}
.jiadian .brand_1 a{
    display: block;
    height: 40px;
    background: url(../images/图层119.png) no-repeat center center;
}
/* 手机模块 */
.phone {
    margin-top: 30px;
}
/* 电脑办公模块 */
.computer {
    margin-top: 30px;
}
/* 热门疯抢 */
.hot {
    margin-bottom: 40px;
}
.hot_hd {
    text-align: left;
    font-size: 18px;
    color: #696969;
}
.hot_bd {
    background-color: #f9f9f9;
    height: 284px;
    text-align: left;
    border: 1px solid #e5e5e5;
}
.hot_bd>div {
    float: left;
    height: 100%;
}
.hot_bd p {
    font-size: 16px;
    color: #cb1623;
}
.col_240 {
    width: 240px;
    border-right: 1px solid #e5e5e5;
}
.col_660 {
    width: 660px;
}
.col_297 {
    width: 297px;
}
.col_660 ul li{
    float: left;
    border-right: 1px solid #e5e5e5;
    width: 220px;
    height: 140px;
    padding-left: 10px;
}
.col_660 ul li:nth-child(-n+3) {
    border-bottom: 1px solid #e5e5e5;
}
.col_660 ul li>a:first-child {
    float: left;
    height: 100%;
    margin-top: 18px;
}
.col_660 ul li div {
    float: left;
    height: 100%;
    padding-top: 20px;
    padding-left: 5px;
}